Repository palfrey/sked: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv, mypy

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: trailing-whitespace
    exclude_types: [yaml]
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --offset, '0', --sequence, '2']
    exclude: pnpm-lock.yaml

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.7
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: [--profile, black]

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black

- repo: local
  hooks:
  - id: uv
    name: uv
    language: system
    entry: make requirements.txt
    files: requirements.*

  - id: mypy
    name: mypy
    language: system
    entry: make mypy
    types: [python]

Remove procfile
  Procfile
Due: none

Only do wait-for-it in docker-compose
  Dockerfile
  docker-compose.yml
Due: none

Expose the port
  Dockerfile
Due: none

Fix HTTPS detection
  sked/settings.py
Due: mypy

Cache static files
  Dockerfile
Due: none

Fix fork-me button
  calendars/templates/base.html
Due: none

Add privacy policy
  calendars/templates/about_sked.html
  calendars/templates/base.html
Due: none

Mark GoogleUser as authed
  calendars/models.py
  calendars/templates/base.html
Due: mypy

Fix icalType migration
  calendars/migrations/0008_alter_icalcalendar_icaltype.py
Due: mypy

Always link to about page
  calendars/templates/base.html
Due: none

Add user to all renders
  calendars/views.py
Due: mypy

Revised snarkier sked privacy policy
  calendars/templates/about_sked.html
Due: none

Literally use the Google example wording
  calendars/templates/about_sked.html
Due: none

Fix the README
  .env.example
  README.md
Due: none

Remove unused script for non-logged in users
  calendars/templates/home.html
Due: none

Add renovate
  .github/renovate.json5
Due: none

Upgrade google-auth to remove need for cachetools
  Makefile
  constraints.txt
  requirements.txt
Due: uv

Use ASDF for uv
  .github/workflows/ci.yml
  .tool-versions
  Makefile
  uv
Due: none

Only security updates for renovate
  .github/renovate.json5
Due: none

Add playwright testing
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  requirements.in
  requirements.txt
  sked/settings.py
  tests/test_no_errors.py
Due: uv, mypy

Fix the calendar request errors
  calendars/templates/base.html
  tests/test_no_errors.py
Due: mypy

If one gcal fails, don't break the whole thing
  calendars/views.py
Due: mypy

Fail ical load with log, not 500
  calendars/views.py
Due: mypy

CI only ran on master
  .github/workflows/ci.yml
Due: none

Make sure dates have timezones
  calendars/views.py
Due: mypy

If a gcal datetime is at midnight, make it a vDate instead
  calendars/views.py
Due: mypy

Ignore working location events
  calendars/views.py
Due: mypy

Remove meetings you're not attending
  calendars/views.py
Due: mypy
